<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Translator</string>
    <key>CFBundleExecutable</key>
    <string>Translator</string>
    <key>CFBundleIdentifier</key>
    <string>com.justinxie.Translator</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleName</key>
    <string>Translator</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.0</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>We need speech recognition permission to translate system English audio output to Chinese subtitles in real time.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need microphone permission to capture system audio output for translation.</string>
</dict>
</plist>
